<div class="form-group m-4">
    <p class="text-center text-muted">Do you have a comment or feedback? Please submit the form below.</p>
    <label for="post_name">Name</label>
    <input required placeholder="Please enter your name" type="text" name="post_name" id="post_name" class="form-control mb-2"> 
    <label for="post_comment">Short Description</label>
    <textarea required placeholder="Comment here" name="post_comment" id="post_comment" class="form-control mb-2" rows="3" style="height:100%;"></textarea>
</div>
<button type="submit" class="btn btn-success mx-4">Save</button>