<div class="mx-lg-5 px-lg-5">
    <p style="font-size: 25px;">
        <p class="text-justify"><span style="font-size: 18px;">Hello,&nbsp; my name is <span class="text-primary"><b>Abhik Ghosh</b></span>. 
        I am a <span class="text-info ">Solution Architect</span> 
        with over 13 years of experience in software engineering. 
        I have spearheaded management, design, development, testing of IT Solution 
        for multiple small startups to fortune five hundred companies.&nbsp; 
        This is my commitment to help organizations achieve maximum benefits from their 
        technology investment and transcend IT operational boundaries.&nbsp;</span></p>
        <p class="text-justify" ><span style="font-size: 18px;">I have helped customers' journey migrating to the cloud, 
        setting up analytics platform, monetizing data portfolio, simplifying legacy integrations
         in a optimized and cost effective manner.&nbsp;I have a strong knowledge and 
         practical experience in Objected Oriented and Distributed System design principles.&nbsp; 
         This, along with agile mindset helps me deliver high 
         impact technology solutions to major business objectives.&nbsp;</span></p><p><br /></p>

    </p>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" target="_blank" 
        href="https://drive.google.com/file/d/1G_QnToCXHXNZuVcHUSG5mLtJ_iWLMYB4/view?usp=sharing" 
        role="button">Online Resume</a>
    </div>
</div>
