<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">My name is Abhik, I am a Technology Architect. I help customers translate their vision into 
      future-ready reality
      
    </p>
    <hr class="my-4">
    <p>I specialize in designing and building data solutions on distributed, cloud environment. I have extensive 
      experience developing internet-scale infrastructure, data platforms and analytics systems.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>