<div class="jumbotron">
    <!--h1 class="display-4">Hello, world!</h1-->
    <div class="row">
      <div class="col-md-4">
        <img style="max-width: 100%; height:200px;" class="rounded mx-auto d-block img-fluid mt-2" src="/public/img/personal_thumbnail.svg" alt="Personal Thumbnail">
        <!--p class="text-center">Some other info</p-->
      </div>
      <div class="col-md-8">
        <div class="mx-lg-1 px-lg-1">

          <p class="mt-3"> 
            There are many platforms for technical blogs and evidently many version control platforms, which can get one 
            set up for documenting all his work, that needs to be put forward to the open audiance. But the problem is 
            with this abundance. More options I have, the more I deliberate in choosing the best one. This website is 
            a weekend worth of effort to eliminate the choices of many. I wanted a minimalistic website which would reflect
            my professional self without coming in between with limitations. This app uses free tier mongodb and is hosted
            on a free heroku nodejs container. Thanks! Heroku, and MongoDb for the developer friendly free tiers to try out 
            new stuffs. Okay, read on... 
          </p>

        </div>
        
      </div>
    </div>
   
    <!--hr class="my-4"-->
   
    
  </div>