<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">My name is Abhik, I am a Technology Architect. I help customers translate their vision into 
      future-ready reality
      
    </p>
    <hr class="my-4">
    <p>I specialize in designing and building data solutions on distributed, cloud environment. I have extensive 
      experience developing internet-scale infrastructure, data platforms and analytics systems.</p>
    <a class="btn btn-primary btn-lg" target="_blank" 
    href="https://drive.google.com/file/d/1G_QnToCXHXNZuVcHUSG5mLtJ_iWLMYB4/view?usp=sharing" 
    role="button">Download Resume</a>
  </div>