<div class="mx-lg-5 px-lg-5">
    <p >
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Serverless Design Architecture</h4>
                <h6 class="card-subtitle mb-2 text-muted">Cloud Projects</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/projects/hello-world-project" class="card-link">Read More</a>
                <a href="https://www.github.com/ghoshabhik" target="_blank" class="card-link">Github Repo</a>
            </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tiny Url Service that scales</h4>
                <h6 class="card-subtitle mb-2 text-muted">Data Projects</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/projects/hello-world-project" class="card-link">Read More</a>
                <a href="https://www.github.com/ghoshabhik" target="_blank" class="card-link">Github Repo</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle mb-2 text-muted">Cloud Projects</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/projects/hello-world-project" class="card-link">Read More</a>
                <a href="https://www.github.com/ghoshabhik" target="_blank" class="card-link">Github Repo</a>
            </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle mb-2 text-muted">Data Projects</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/projects/hello-world-project" class="card-link">Read More</a>
                <a href="https://www.github.com/ghoshabhik" target="_blank" class="card-link">Github Repo</a>
            </div>
            </div>
        </div>
    </div>
       
    </p>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary"
        href="/projects" 
        role="button">All Projects</a>
    </div>
</div>
